Mecanum-Practice-Bot/Mecanum/gradle/
Testing/REV-samples/Velocity PID Control/.gradle/
Testing/REV-samples/Velocity PID Control/build/
MiniMec/AAA-Imported/
Testing/unused/
Testing/Samples-from-2022/Falcon/C++ General/VelocityClosedLoop/.gradle/
Testing/Samples-from-2022/Falcon/C++ General/VelocityClosedLoop/build/exe/frcUserProgram/linuxathena/debug/frcUserProgram
Testing/Samples-from-2022/Falcon/C++ General/VelocityClosedLoop/build/
Celestial/TeleopAndAuto/doc
MiniMec/Mecanum-sample/doc
Celestial/Mecanum-sample/.gradle/
Celestial/Mecanum-sample/build/
Protobot/PositionClosedLoop/.gradle/
Protobot/PositionClosedLoop/build/
Testing/Samples-from-2022/Pneumatic-Sample/
Protobot/system-identification/extraneous/
